.contAll {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
}

.buttons {
    display: flex;
    border-radius: 15px;
    margin-left: 41em;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body {
    background-image: url('../Images/museum3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15em;
}
input{
    width:10em;
    height: 2em;
    border: 2px solid orangered;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}