*{
    display: center;
    align-items: center;
    position: center;
}

.contAll {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
}

.buttons {
    display: flex;
    border-radius: 15px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

body {
    background-image: url('../Images/museum3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:95vh;
}
input{
    width:12em;
    height: 2em;
    border: 2px solid orangered;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}